.skills {
  color: black;
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold
}

.bottom-buffer-increase {
    margin-bottom: 20px;
}

.top-buffer-decrease {
    margin-top: -50px;
}

li.borderless {
  border-top: 0 none;
}

.decrease-icon-size {
  font-size: 0.3em;
  vertical-align: middle;
}
