.skills {
  color: black;
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold
}

.project-heading {
  color: white;
  font-size: 1.6em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold
}

li.borderless {
  border-top: 0 none;
}

.end-page-increase-padding-bottom {
  padding-bottom: 380px;
}

.increase-padding-bottom {
  padding-bottom: 100px;
}

.decrease-icon-size {
  font-size: 0.3em;
  vertical-align: middle;
}

.percent-decrease-icon-size {
  font-size: 45%;
  vertical-align: middle;
}

a {
  color: #40C0C0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #790CE8;
}

.colorize-green {
  color: green;
}

.colorize-blue {
  color: #80C0FF;
}

.project-icon {
  height: 1.2em;
  width: auto;
}

.project-logo {
  height: 5.0em;
  width: auto;
}
