.skills {
  color: black;
  font-size: 1.2em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold
}

.bottom-buffer-increase {
    margin-bottom: 20px;
}

.top-buffer-decrease {
    margin-top: -50px;
}
